body{
	font-size: 11px
}

.cabecalho{
	border: none
}

.menu{
	border: none;
	width: 185px !important;
}

.conteudo{
	border: none
}

.rodape{
	border: none;
	text-align: center
}

.coluna{
	text-align: center;
}
